@use "./variables" as *;
@use "./mixins" as *;

section#abilities {
    color: var(--foreground-color);
    text-align: center;
    padding: 80px 20px 80px 20px;

    h3 {
        @include h3-responsive-font-size;
    }  

    span {
        color: var(--foreground-color);
    }

    p {
        max-width: 480px;
    }

    p:last-child {
        text-align: left;
    }
}

div.icons-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin: 30px 0;
}

div.icon,
a.icon {
    width: 32px;
    height: 32px;
    background-size: cover;
    -webkit-tap-highlight-color: transparent;
}

/* icon classes - kept as separate classes */
div.js {
    background-image: url("#{$public-base}assets/icons/js-icon.svg");
}

div.react {
    background-image: url("#{$public-base}assets/icons/react-icon.svg");
}

div.r {
    background-image: url("#{$public-base}assets/icons/r-icon.svg");
}

div.c {
    background-image: url("#{$public-base}assets/icons/c-icon.svg");
}

div.python {
    background-image: url("#{$public-base}assets/icons/python-icon.svg");
}

div.cpp {
    background-image: url("#{$public-base}assets/icons/cpp-icon.svg");
}

div.java {
    background-image: url("#{$public-base}assets/icons/java-icon.svg");
}

div.scss {
    background-image: url("#{$public-base}assets/icons/scss-icon.svg");
}

div.css {
    background-image: url("#{$public-base}assets/icons/css-icon.svg");
}

div.html {
    background-image: url("#{$public-base}assets/icons/html-icon.svg");
}

div.figma {
    background-image: url("#{$public-base}assets/icons/figma-icon.svg");
}