// _components.scss
// Generic components: buttons, section-changer, logo container, darkmode toggle basics

@use "./variables" as *;
@use "./mixins" as *;

section, button, a.button { transition: all $transition-medium; }

a.button {
    display: flex;
    width: 60%;
    max-width: 200px;
    padding: 10px 20px;
    color: $foreground-color-light;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    @include button-responsive-font-size;
    @include glass-button($light-gray);
    transition: all $transition-medium;

    &.highlight {
        border-color: $blue-logo;
        background-color: $blue-logo;
        color: var(--light-color);
    }

    &:hover {
        background-color: rgba(22, 22, 23, 0.4);
        border: 0.5px solid rgba(255, 255, 255, 0.35);
    }
}

div.section-changer {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 15px;
    @include p-responsive-font-size;
    color: $foreground-color;
    cursor: pointer;
    margin-top: 50px;
    -webkit-tap-highlight-color: transparent;
    position: relative;
    z-index: 2;
    pointer-events: auto;
    
    div {
        width: 31px;
        height: 17px;
        background-size: cover;
        background-position: bottom;
        background-image: url("#{$public-base}assets/icons/keyboard-arrow-down-dark.svg");

    }

    &.section-changer-dark {
        span { color: var(--foreground-color); }
        div { background-image: url("#{$public-base}assets/icons/keyboard-arrow-down-dark.svg"); }
    }

    &:hover {
        opacity: 0.7;
    }
}

.dark-theme {
    div.section-changer {
        div { background-image: url("#{$public-base}assets/icons/keyboard-arrow-down-light.svg"); }
    }
}

div.logo-container {
    display: none;
    opacity: 1;
    transition: opacity var(--transition-timing);

    img {
        width: 4rem;
        height: 4rem;
    }
}

div.logo-container.hidden {
    opacity: 0;
}

/* Radio buttons small reusable */
button.radio-button {
    width: 10px;
    height: 10px;
    min-width: 10px;
    min-height: 10px;
    border-radius: 50%;
    background: var(--foreground-color);
    cursor: pointer;
    opacity: 0.3;
    border: none;
    padding: 0;
    transition: opacity 0.3s ease;
}

button.radio-button.active {
    opacity: 1;
}