@use "./variables" as *;
@use "./mixins" as *;

html.dark-theme {
    section#contact {
        p,
        span {
            color: $foreground-color-light;
        }

        a.wa {
            background-image: url("/assets/icons/whatsapp-icon-light.svg");
        }

        a.mail {
            background-image: url("/assets/icons/mail-icon-light.svg");
        }

        a.instagram {
            background-image: url("/assets/icons/instagram-icon-light.svg");
        }

        a.github {
            background-image: url("/assets/icons/github-icon-light.svg");
        }
    }
}

section#contact {
    position: relative;
    justify-content: center;
    background-color: var(--light2-color);
    min-height: 100vh;
    color: $foreground-color;

    img.contact-card-big {
        width: 10vw;
        min-width: 100px;
        max-width: 160px;
        margin: 20px 0;
    }

    &.dark-section {
        p,
        span {
            color: $foreground-color;
        }
    }

    .icons-container {
        gap: 20px;
    }

    p:first-child {
        line-height: 50px;
    }

    a.wa {
        background-image: url("/assets/icons/whatsapp-icon-dark.svg");
    }

    a.mail {
        background-image: url("/assets/icons/mail-icon-dark.svg");
    }

    a.instagram {
        background-image: url("/assets/icons/instagram-icon-dark.svg");
    }

    a.github {
        background-image: url("/assets/icons/github-icon.svg");
    }
}

section#last-part {
    position: relative;
    background-color: var(--light2-color);
    color: $foreground-color;
    padding: 50px 20px 80px 20px;
    justify-content: center;

    h3 { @include h3-responsive-font-size; }

    div.main-logo-banner-container {
        display: flex;
        align-items: center;
        width: fit-content;
        justify-content: center;
        gap: 15px;
        margin: 30px 0;

        div.banner-container {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            line-height: clamp(2rem, 2rem + 2vw, 5rem);
        }

        h2 { margin: 0; }

        img.main-logo {
            width: clamp(80px, 60px + 5vw, 180px);
            transition: opacity 500ms ease-in-out;
        }
    }


    span {
        color: $foreground-color;
    }

    div.section-changer.section-changer-dark.home {
        div {
            transform: rotate(180deg);
        }
    }

    &.dark-theme {
        color: var(--foreground-color);

        div.section-changer.section-changer-dark.home {
            span {
                color: var(--foreground-color);
            }
        }

        span {
            color: $foreground-color-light;
        }
    }
}