// _header.scss
header {
    position: fixed;
    width: 95%;
    top: 2%;
    left: calc(50% - 47.5%);
    background: rgba(255, 255, 255, 0.15);
    box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-radius: 15px;
    z-index: 1000;
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 10px 20px;
    opacity: 1;
    transition: opacity 350ms ease-out, background-color 350ms ease-in-out;

    &.hidden {
        opacity: 0;
    }

    /* Menu label (burger) */
    label.menu {
        --new-bars-width: calc(var(--menu-height) * 1.4);
        position: relative;
        display: flex;
        flex-direction: column;
        gap: var(--bars-gap);
        width: max-content;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        outline: none;
        -webkit-tap-highlight-color: transparent;

        &::before,
        &::after,
        input {
            content: "";
            width: var(--bar-width);
            height: var(--bar-height);
            border-radius: 10px;
            transform-origin: left center;
            transition: opacity var(--transition-timing), width var(--transition-timing), transform var(--transition-timing), background-color var(--transition-timing);
        }

        &.brown-color::before,
        &.brown-color::after,
        &.brown-color input {
            background-color: var(--foreground-color);
        }

        &.light-color::before,
        &.light-color::after,
        &.light-color input {
            background-color: var(--light-color);
        }

        input {
            appearance: none;
            padding: 0;
            margin: 0;
            outline: none;
            pointer-events: none;
        }

        input:checked {
            opacity: 0;
            width: 0;
        }

        &:has(input:checked)::before {
            transform: rotate(45deg) translateY(calc(var(--bar-height) / -2));
            width: var(--new-bars-width);
        }

        &:has(input:checked)::after {
            transform: rotate(-45deg) translateY(calc(var(--bar-height) / 2));
            width: var(--new-bars-width);
        }

        &:has(input:checked)~div.menu-buttons-container {
            opacity: 1;

            a.menu-button { pointer-events: all; }

            label.darkmode-button-container { pointer-events: all; }
        }
    }

    .menu-buttons-container {
        position: absolute;
        left: calc(var(--bar-width) + 25px);
        display: flex;
        gap: 8px;
        justify-content: center;
        align-items: center;
        opacity: 0;
        color: var(--foreground-color);
        transition: opacity var(--transition-timing), color var(--transition-timing), border-color var(--transition-timing);

        &.light-color {
            a.menu-button {
                color: var(--light-color);
                border-color: var(--light-color);
            }
        }

        a.menu-button {
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 5px;
            font-size: 10px;
            width: 40px;
            height: 20px;
            pointer-events: none;
            color: var(--foreground-color);
            border: solid 1px var(--foreground-color);
        }

        /* darkmode button basics */
        label.darkmode-button-container {
            position: relative;
            display: flex;
            width: 40px;
            height: 20px;
            align-items: center;
            cursor: pointer;
            border-radius: 25px;
            padding: 5px 0;
            transition: background-color var(--transition-timing);
            outline: none;
            -webkit-tap-highlight-color: transparent;
            pointer-events: none;

            &.brown-color {
                background-color: var(--foreground-color);
            }

            &.light-color {
                background-color: var(--light-color);
            }

            input {
                position: absolute;
                left: -1px;
                top: calc(50% - 10.5px);
                appearance: none;
                width: 15px;
                height: 15px;
                border-radius: 50%;
                transition: transform var(--transition-timing), background-color var(--transition-timing);
                z-index: 2;
                cursor: pointer;
                outline: none;
                pointer-events: none;
                background-color: var(--light-color);
            }

            &::after,
            &::before {
                content: "";
                width: 13px;
                height: 13px;
                position: absolute;
                background-image: url("/assets/icons/theme-mode-icon.svg");
                background-size: cover;
                background-position: center;
                z-index: 1;
                top: calc(50% - 6.5px);
            }

            &::after {
                transform: rotate(180deg);
                right: 2px;
            }

            &::before {
                left: 2px;
            }

            &:has(input:checked) {
                background-color: var(--light-color);
                border: solid 1px var(--foreground-color);
            }

            &:has(input:checked) input {
                transform: translateX(calc(100% + 3.5px));
                background-color: var(--foreground-color);
            }
        }
    }
}