div.loader {
    position: fixed;
    inset: 0;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--light-color);
    pointer-events: all;

    img {
        width: 25vw;       
        height: 25vw;
        max-width: 200px;
        animation-duration: 1s;
        animation-name: loading;
        animation-timing-function: ease-in-out;
        animation-iteration-count: infinite;
        animation-direction: normal;
        animation-play-state: running;
    }
}