@use './variables' as *;

@mixin glass-button($base-color: $blue-logo) {
    background-color: rgba($base-color, 0.90);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 0.5px solid rgba(255, 255, 255, 0.35);
    box-shadow:
        0 10px 25px rgba(0, 0, 0, 0.25),
        inset 0 1px 1px rgba(255, 255, 255, 0.7),
        inset 0 -2px 6px rgba(255, 255, 255, 0.4);
    transition: background-color 0.3s ease, border-color 0.3s ease;

    &:hover {
        background-color: rgba($base-color, 0.4);
        border-color: rgba(255, 255, 255, 0.5);
    }
}

@mixin xs-responsive-font-size {
    font-size: clamp($fs-xsmall, 1rem + 1.2vw, 1.3rem);
}

@mixin p-responsive-font-size {
    font-size: clamp($fs-base, 1rem + 0.8vw, 1.6rem);
}

@mixin h1-responsive-font-size {
    font-size: clamp($fs-h1, 1rem + 1.2vw, 4rem);
}

@mixin h2-responsive-font-size {
    font-size: clamp($fs-h2, 1rem + 0.8vw, 3rem);
}

@mixin h3-responsive-font-size {
    font-size: clamp($fs-h3, 1rem + 0.8vw, 2.5rem);
}

@mixin button-responsive-font-size {
    font-size: clamp($fs-base, 1rem + 0.8vw, 1.6rem);
}
