@use "./variables" as *;
@use "./mixins" as *;

button.transition-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    max-width: 200px;
    cursor: pointer;
    border-radius: 5px;
    padding: 10px 20px;
    color: $foreground-color-light;
    background-color: var(--button-bg, $blue-logo);
    border: 1px solid rgba(255, 255, 255, 0.2);
    transform-origin: center center;
    @include button-responsive-font-size;
    @include glass-button();

    transition: all $transition-timing;
    user-select: none;

    // hover effect unificado
    &:hover {
        transform: scale(1.05);
        border-color: rgba(255, 255, 255, 0.5);
    }

    &:active {
        transform: scale(0.97);
    }

    &.home {
        width: 100%;
        max-width: none;
    }

    &.last-part {
        max-width: 120px;
        margin-top: 30px;
    }

    &.projectCard {
        padding: 10px 0px;
    }

    &.expand {
        position: fixed;
        top: 50%;
        left: 50%;
        border-radius: 0;
        color: transparent;
        animation: fadeOut 0.8s ease-in-out forwards;
        z-index: 9999;
    }
}