// _variables.scss

// SCSS helper vars (for dev)
$light-color: #DDF2FD;
$light2-color: #021526;
$foreground-color: #2c2c2c;
$blue-logo: #4F75FF;
$light-gray: #3c3d37;
$dark-gray: #1e201e;

$neo-morphism-static:
    4px 6px 6px rgba(0, 0, 0, 0.07),     
    -3px -3px 7px rgba(255, 255, 255, 0.5);

// Fonts & typography
$font-primary: "Ubuntu Sans", sans-serif;

// Sizes
$bar-width: 30px;
$bar-height: 4px;
$bars-gap: 5px;
$menu-height: calc(#{$bar-height} * 3 + #{$bars-gap} * 2);

// Transitions
$transition-timing: 200ms ease-in-out;
$transition-fast: 200ms;
$transition-medium: 350ms;

// Font sizes
$fs-h1: 2rem;
$fs-h2: 1.5rem;
$fs-base: 1rem;
$fs-small: 0.8rem;
$fs-xsmall: 0.75rem;

// Export as CSS custom properties so JS (runtime) can toggle :root.dark-theme easily
:root {
    --light-color: #{$light-color};
    --light-color-rgb: 221, 242, 253;
    --light2-color: #{$light2-color};
    --light2-color-rgb: 2, 21, 38;
    --foreground-color: #{$foreground-color};
    --bars-gap: #{$bars-gap};
    --bar-width: #{$bar-width};
    --bar-height: #{$bar-height};
    --transition-timing: #{$transition-timing};
    --menu-height: #{$menu-height};
    --font-primary: #{$font-primary};
}

// dark theme overrides via class on :root
:root.dark-theme {
    --light-color: #3c3d37;
    --light-color-rgb: 60, 61, 55;
    --light2-color: #1e201e;
    --light2-color-rgb: 30, 32, 30;
    --foreground-color: #DDF2FD;
}